- Importing libraries

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("F:\PGDDS\PGD_Data_Science\csv_data\insurance.csv")

In [4]:
df.head()

   age  affordibility  insurance
0   21              1          0
1   25              1          0
2   31              0          0
3   50              1          1
4   41              1          1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            34 non-null     int64
 1   affordibility  34 non-null     int64
 2   insurance      34 non-null     int64
dtypes: int64(3)
memory usage: 944.0 bytes

In [6]:
df.describe()

             age  affordibility  insurance
count  34.000000      34.000000  34.000000
mean   35.911765       0.558824   0.500000
std    13.369725       0.503995   0.507519
min    17.000000       0.000000   0.000000
25%    25.000000       0.000000   0.000000
50%    34.500000       1.000000   0.500000
75%    44.000000       1.000000   1.000000
max    61.000000       1.000000   1.000000

In [7]:
df.isnull().sum()

age              0
affordibility    0
insurance        0
dtype: int64

In [8]:
df['age'] = df['age'].apply(lambda x : 18 if x < 18 else x)

In [9]:
df

    age  affordibility  insurance
0    21              1          0
1    25              1          0
2    31              0          0
3    50              1          1
4    41              1          1
5    35              1          0
6    61              0          1
7    55              0          1
8    19              1          1
9    23              1          0
10   22              1          0
11   41              1          1
12   44              0          1
13   61              0          1
14   55              1          1
15   29              1          0
16   31              0          0
17   39              1          1
18   54              1          1
19   58              1          1
20   47              0          1
21   39              0          1
22   34              1          0
23   29              1          0
24   21              1          0
25   19              1          0
26   26              0          0
27   40              0          1
28   32              0          0
29   18              0          0
30   18              0          0
31   25              0          0
32   35              0          1
33   44              1          1

In [10]:
df.describe()

             age  affordibility  insurance
count  34.000000      34.000000  34.000000
mean   35.941176       0.558824   0.500000
std    13.327896       0.503995   0.507519
min    18.000000       0.000000   0.000000
25%    25.000000       0.000000   0.000000
50%    34.500000       1.000000   0.500000
75%    44.000000       1.000000   1.000000
max    61.000000       1.000000   1.000000

In [11]:
X = df.drop("insurance", axis = 1)

In [12]:
y = df.insurance

In [13]:
from sklearn.preprocessing import MinMaxScaler

In [14]:
scaler = MinMaxScaler()

In [15]:
scaler.fit_transform(X)

array([[0.06976744, 1.        ],
       [0.1627907 , 1.        ],
       [0.30232558, 0.        ],
       [0.74418605, 1.        ],
       [0.53488372, 1.        ],
       [0.39534884, 1.        ],
       [1.        , 0.        ],
       [0.86046512, 0.        ],
       [0.02325581, 1.        ],
       [0.11627907, 1.        ],
       [0.09302326, 1.        ],
       [0.53488372, 1.        ],
       [0.60465116, 0.        ],
       [1.        , 0.        ],
       [0.86046512, 1.        ],
       [0.25581395, 1.        ],
       [0.30232558, 0.        ],
       [0.48837209, 1.        ],
       [0.8372093 , 1.        ],
       [0.93023256, 1.        ],
       [0.6744186 , 0.        ],
       [0.48837209, 0.        ],
       [0.37209302, 1.        ],
       [0.25581395, 1.        ],
       [0.06976744, 1.        ],
       [0.02325581, 1.        ],
       [0.18604651, 0.        ],
       [0.51162791, 0.        ],
       [0.3255814 , 0.        ],
       [0.        , 0.        ],
       [0.        , 0.        ],
       [0.1627907 , 0.        ],
       [0.39534884, 0.        ],
       [0.60465116, 1.        ]])

In [16]:
X['age'] = X['age']/100

In [17]:
X['age']

0     0.21
1     0.25
2     0.31
3     0.50
4     0.41
5     0.35
6     0.61
7     0.55
8     0.19
9     0.23
10    0.22
11    0.41
12    0.44
13    0.61
14    0.55
15    0.29
16    0.31
17    0.39
18    0.54
19    0.58
20    0.47
21    0.39
22    0.34
23    0.29
24    0.21
25    0.19
26    0.26
27    0.40
28    0.32
29    0.18
30    0.18
31    0.25
32    0.35
33    0.44
Name: age, dtype: float64

In [18]:
y.head()

0    0
1    0
2    0
3    1
4    1
Name: insurance, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [21]:
X_train.shape

(27, 2)

In [22]:
X_test.shape

(7, 2)

In [23]:
import tensorflow as tf

In [24]:
from tensorflow import keras

In [25]:
model = keras.Sequential([
    keras.layers.Dense(1, input_shape=(2,1), activation= 'sigmoid')
])

In [28]:
model.compile(optimizer='adam', loss = 'binary_crossentropy', metrics = ['Accuracy'])

In [29]:
model.fit(X_train, y_train, epochs =  50)

Epoch 1/50
1/1 [==============================] - 1s 729ms/step - loss: 0.7396 - Accuracy: 0.4815
Epoch 2/50
1/1 [==============================] - 0s 6ms/step - loss: 0.7394 - Accuracy: 0.4815
Epoch 3/50
1/1 [==============================] - 0s 18ms/step - loss: 0.7391 - Accuracy: 0.4815
Epoch 4/50
1/1 [==============================] - 0s 14ms/step - loss: 0.7389 - Accuracy: 0.4815
Epoch 5/50
1/1 [==============================] - 0s 14ms/step - loss: 0.7387 - Accuracy: 0.4815
Epoch 6/50
1/1 [==============================] - 0s 0s/step - loss: 0.7384 - Accuracy: 0.4815
Epoch 7/50
1/1 [==============================] - 0s 4ms/step - loss: 0.7382 - Accuracy: 0.4815
Epoch 8/50
1/1 [==============================] - 0s 4ms/step - loss: 0.7380 - Accuracy: 0.4815
Epoch 9/50
1/1 [==============================] - 0s 5ms/step - loss: 0.7377 - Accuracy: 0.4815
Epoch 10/50
1/1 [==============================] - 0s 17ms/step - loss: 0.7375 - Accuracy: 0.4815
Epoch 11/50
1/1 [==============================] - 0s 10ms/step - loss: 0.7373 - Accuracy: 0.4815
Epoch 12/50
1/1 [==============================] - 0s 9ms/step - loss: 0.7370 - Accuracy: 0.4815
Epoch 13/50
1/1 [==============================] - 0s 8ms/step - loss: 0.7368 - Accuracy: 0.4815
Epoch 14/50
1/1 [==============================] - 0s 8ms/step - loss: 0.7366 - Accuracy: 0.4815
Epoch 15/50
1/1 [==============================] - 0s 16ms/step - loss: 0.7364 - Accuracy: 0.4815
Epoch 16/50
1/1 [==============================] - 0s 16ms/step - loss: 0.7361 - Accuracy: 0.4815
Epoch 17/50
1/1 [==============================] - 0s 0s/step - loss: 0.7359 - Accuracy: 0.4815
Epoch 18/50
1/1 [==============================] - 0s 2ms/step - loss: 0.7357 - Accuracy: 0.4815
Epoch 19/50
1/1 [==============================] - 0s 17ms/step - loss: 0.7354 - Accuracy: 0.4815
Epoch 20/50
1/1 [==============================] - 0s 17ms/step - loss: 0.7352 - Accuracy: 0.4815
Epoch 21/50
1/1 [==============================] - 0s 12ms/step - loss: 0.7350 - Accuracy: 0.4815
Epoch 22/50
1/1 [==============================] - 0s 0s/step - loss: 0.7348 - Accuracy: 0.4815
Epoch 23/50
1/1 [==============================] - 0s 6ms/step - loss: 0.7345 - Accuracy: 0.4815
Epoch 24/50
1/1 [==============================] - 0s 7ms/step - loss: 0.7343 - Accuracy: 0.4815
Epoch 25/50
1/1 [==============================] - 0s 9ms/step - loss: 0.7341 - Accuracy: 0.4815
Epoch 26/50
1/1 [==============================] - 0s 9ms/step - loss: 0.7339 - Accuracy: 0.4815
Epoch 27/50
1/1 [==============================] - 0s 8ms/step - loss: 0.7337 - Accuracy: 0.4815
Epoch 28/50
1/1 [==============================] - 0s 9ms/step - loss: 0.7334 - Accuracy: 0.4815
Epoch 29/50
1/1 [==============================] - 0s 16ms/step - loss: 0.7332 - Accuracy: 0.4815
Epoch 30/50
1/1 [==============================] - 0s 0s/step - loss: 0.7330 - Accuracy: 0.4815
Epoch 31/50
1/1 [==============================] - 0s 8ms/step - loss: 0.7328 - Accuracy: 0.4815
Epoch 32/50
1/1 [==============================] - 0s 11ms/step - loss: 0.7326 - Accuracy: 0.4815
Epoch 33/50
1/1 [==============================] - 0s 16ms/step - loss: 0.7323 - Accuracy: 0.4815
Epoch 34/50
1/1 [==============================] - 0s 13ms/step - loss: 0.7321 - Accuracy: 0.4815
Epoch 35/50
1/1 [==============================] - 0s 0s/step - loss: 0.7319 - Accuracy: 0.4815
Epoch 36/50
1/1 [==============================] - 0s 5ms/step - loss: 0.7317 - Accuracy: 0.4815
Epoch 37/50
1/1 [==============================] - 0s 6ms/step - loss: 0.7315 - Accuracy: 0.4815
Epoch 38/50
1/1 [==============================] - 0s 17ms/step - loss: 0.7313 - Accuracy: 0.4815
Epoch 39/50
1/1 [==============================] - 0s 17ms/step - loss: 0.7310 - Accuracy: 0.4815
Epoch 40/50
1/1 [==============================] - 0s 16ms/step - loss: 0.7308 - Accuracy: 0.4815
Epoch 41/50
1/1 [==============================] - 0s 15ms/step - loss: 0.7306 - Accuracy: 0.4815
Epoch 42/50
1/1 [==============================] - 0s 17ms/step - loss: 0.7304 - Accuracy: 0.4815
Epoch 43/50
1/1 [==============================] - 0s 23ms/step - loss: 0.7302 - Accuracy: 0.4815
Epoch 44/50
1/1 [==============================] - 0s 20ms/step - loss: 0.7300 - Accuracy: 0.4815
Epoch 45/50
1/1 [==============================] - 0s 11ms/step - loss: 0.7298 - Accuracy: 0.4815
Epoch 46/50
1/1 [==============================] - 0s 16ms/step - loss: 0.7296 - Accuracy: 0.4815
Epoch 47/50
1/1 [==============================] - 0s 16ms/step - loss: 0.7294 - Accuracy: 0.4815
Epoch 48/50
1/1 [==============================] - 0s 17ms/step - loss: 0.7292 - Accuracy: 0.4815
Epoch 49/50
1/1 [==============================] - 0s 0s/step - loss: 0.7289 - Accuracy: 0.4815
Epoch 50/50
1/1 [==============================] - 0s 4ms/step - loss: 0.7287 - Accuracy: 0.4815

In [30]:
X_train

     age  affordibility
12  0.44              0
32  0.35              0
9   0.23              1
0   0.21              1
4   0.41              1
16  0.31              0
17  0.39              1
5   0.35              1
13  0.61              0
11  0.41              1
1   0.25              1
2   0.31              0
30  0.18              0
3   0.50              1
29  0.18              0
23  0.29              1
31  0.25              0
22  0.34              1
18  0.54              1
25  0.19              1
6   0.61              0
20  0.47              0
33  0.44              1
7   0.55              0
10  0.22              1
14  0.55              1
28  0.32              0

In [32]:
model.evaluate(X_test, y_test)

1/1 [==============================] - 0s 49ms/step - loss: 0.7161 - Accuracy: 0.5000

[0.7161380052566528, 0.5]

In [35]:
predicted = model.predict(X_test)

1/1 [==============================] - 0s 17ms/step

In [36]:
predicted

array([[[0.5739701 ],
        [0.7592614 ]],

       [[0.6559917 ],
        [0.7592614 ]],

       [[0.60583675],
        [0.48766574]],

       [[0.5651594 ],
        [0.48766574]],

       [[0.5444497 ],
        [0.7592614 ]],

       [[0.5503857 ],
        [0.7592614 ]],

       [[0.60297245],
        [0.48766574]]], dtype=float32)